---
import Layout from '../layouts/Layout.astro';
//import Header from '../components/Header.astro';
import Header from '../pages/Header.astro';
import Footer from '../pages/Footer.astro';
import Home from '../pages/Home.astro';
---

<Layout title="33Force">
	<Header></Header>
	<main>
		<Home></Home>
	</main>
	<Footer></Footer>
</Layout>
