---
import Layout from '../layouts/Layout.astro';
//import Header from '../components/Header.astro';
import Header from './Header.astro';
import Footer from './Footer.astro';
import Home from './Hero.astro';
import About from './About.astro';
---

<Layout title="33Force">
	<Header></Header>
	<main>
		<Home></Home>
		<About></About>
	</main>
	<Footer></Footer>
</Layout>
