---
// Supports weights 100-900
import '@fontsource-variable/jost';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="sp">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--background-color: #222;
		--text-color-light: rgb(225, 245, 255);
		--text-color-dark: rgb(35, 36, 36);
		--accent: rgb(203, 206, 247);
		--accent-light: rgb(159, 191, 226);
		--accent-dark: rgb(49, 10, 255);
		--accent-gradient: linear-gradient(
			45deg,
			var(--accent) 10%,
			var(--accent-light) 30%,
			white 60%
		);
	}

	*,
	*::after,
	*::before {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}

	html {
		font-family: 'Jost Variable', sans-serif, system-ui;
		background: #d8deec;
		background-size: 224px;
		color: var(--text-color-dark);
	}

	p {
		text-wrap: pretty;
	}

	h1, h2, h3 {
		text-wrap: balance;
	}

	.button {
		text-decoration: none;
		height: fit-content;
		padding: 10px 45px;
		margin: 15px;
		background: linear-gradient(to right, rgb(37, 96, 139), rgb(92, 71, 97));
		color: var(--text-color-light);
		border-radius: 3px;
		transition: 0.4s scale ease;
		font-weight: bolder;
	}

	.button:hover {
		scale: 1.2;
	}

</style>
